<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="left">
      <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag("Company.png") %>
      <% end %>
    </div>
    <div class="right">
      <%= link_to "Our Services", "/services"%>
      <%= link_to "About Us", "/about" %>
      <%= link_to "Contact Us", "/contact" %>
    </div>
</div>
